<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/font-awesome.min.css">
    <title>US "Mirabellaise"</title>
</head>
<body>
    <div> class="container">
        <img id="main_pic" src="../static/images/back_index.jpg">
        <nav>
            <a href="index.html"><img src="../static/images/logo.png"></a>
        </nav>
            <div class="calendrier">
            <div class="calendar">
                04/08/2015 - USM/Vaison - 19h - Stade de Mirabel - Amical - Résumé<br><br>
                11/08/2015 - USM/Visan - 19h - Stade de Mirabel - Amical - Résumé <br><br>
                18/08/2015 - USM/St Romain - 19h - Stade de Mirabel - Amical - Résumé <br><br>
                25/08/2015 - St Maurice/USM - 19h - Stade de Mirabel - Championnat - Résumé<br><br>

            </div>
        </div>
    </div>

<div id="footer"> Site officiel de l'USM - 2015 </div>
</body>
</html>