<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css" />
    <title>US "Mirabellaise"</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="squelette.html"><img src="../static/images/logoxxx.png"></a>
            <a href="equipes.html">Equipes</a>
            <a href="club.html">Club</a>
            <a href="contact.html">Contact</a>
            <a href="https://www.facebook.com/Usmirabellaise?ref=aymt_homepage_panel"><img src="../static/images/fb.png"></a>
        </nav>
        <img id="main_pic" src="../static/images/backhot.jpg">
        <div class="infoclub">
            Crée en: 2014 <br>
            Président: Guillot Romain<br>
            Nombre de licenciés: 27 (14/15)<br>
            Couleur: Bleu & Rouge<br>
            Meilleur classement: Promotion Deuxième Division - 6ème (14/15)<br>
            Meilleur buteur: Sylvain Viret - 7 buts<br>
            Goal-Average: 31 buts inscrits & 66 buts encaissés<br>
            Plus large victoire: 6-4 contre Caderousse3 (14/15)<br>
            Plus large défaite: 8-0 contre St-Maurice (14/15)<br>
        </div>
    </div>

    <div id="pub">
        <img src="../static/images/cm.png">
        <img src="../static/images/ford.png">
        <img src="../static/images/taurelle.png">
        <img src="../static/images/inter.png">
    </div>

    <div id="footer"> Site officiel de l'USM - 2015</div>

    </body>



