<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css" />
    <title>US "Mirabellaise"</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="squelette.html"><img src="../static/images/logoxxx.png"></a>
            <a href="equipes.html">Equipes</a>
            <a href="club.html">Club</a>
            <a href="contact.html">Contact</a>
            <a href="https://www.facebook.com/Usmirabellaise?ref=aymt_homepage_panel"><img src="../static/images/fb.png"></a>
        </nav>
        <img id="main_pic" src="../static/images/backhaut.jpg">
            <div class="main">
                <a href="effectif.html">Effectif</a>
                <a href="resultats.html">Résultats</a>
                <a href="classements.html">Classements</a>
            </div>
    </div>

    <div id="pub">
        <img src="../static/images/cm.png">
        <img src="../static/images/ford.png">
        <img src="../static/images/taurelle.png">
        <img src="../static/images/inter.png">
    </div>
    <div id="footer"> Site officiel de l'USM - 2015</div>
</body>

