 <form name="mon-formulaire1" action="page-envoi.html" method="get">
        <fieldset>
            <legend>Evenements:</legend>
        <p>
            Titre:<br />
            <input type="text" name="text" value="" />
        </p>
        <p>
            Date:<br />
            <input type="date" name="date" value="" />
        </p>
            <input type="file" name="nom" />
        <p>
            <input type="submit" value="Envoyer" />
            <input type="reset" value="Annuler" />
        </p>
    </form>