<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/font-awesome.min.css">
    <title>US "Mirabellaise"</title>
</head>
<body>
    <div class="container">
        <img id="main_pic" src="../static/images/back_index.jpg">
        <nav>
            <a href="squelette.html"><img src="../static/images/logo.png"></a>
        </nav>
        <div class="histoire">
            <div class="histoire1">
                Crée en: 2014 <br>
                Président: Guillot Romain<br>
                Vice-Président: Roux Martin<br>
                Nombre de licenciés: 27 (14/15)<br>
                Couleur: Bleu & Rouge<br>
                Meilleur classement: Promotion Deuxième Division - 6ème (14/15)<br>
            </div>
            <div class="histoire2">
                Meilleur buteur: Sylvain Viret - 7 buts<br>
                Goal-Average: 31 buts inscrits & 66 buts encaissés<br>
                Plus large victoire: 6-4 contre Caderousse3 (14/15)<br>
                Plus large défaite: 8-0 contre St-Maurice (14/15)<br>
                Bilan général: 4V 4N 11D<br>
            </div>
        </div>

    </div>

<div id="footer"> Site officiel de l'USM - 2015 </div>
</body>
</html>

