<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/font-awesome.min.css">
    <title>US "Mirabellaise"</title>
</head>
<body>
    <div class="container">
        <img id="main_pic" src="../static/images/back_index.jpg">
        <nav>
            <a href="index.html"><img src="../static/images/logo.png"></a>
        </nav>
        <div class="navigation">    
            <div class="main_news">
                <i class="fa fa-4x fa-newspaper-o"></i>
                <a href="news.html">News</a><br>
            </div>
            <div class="main_equipe">
                <i class="fa fa-4x fa-users"></i>
                <a href="equipes.html">Equipe</a>
            </div> 
            <div class="main_club">
                <i class="fa fa-4x fa-futbol-o"></i>
                <a href="club.html">Club</a>
            </div>
        </div>
    </div>

<div id="footer"> Site officiel de l'USM - 2015
</div>

</body>
</html>


