<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="../static/font-awesome.min.css">
    <title>US "Mirabellaise"</title>
</head>
<body>
    <div class="container">
        <img id="main_pic" src="../static/images/back_equipe.jpg">
        <nav>
            <a href="squelette.html"><img src="../static/images/logo.png"></a>
        </nav>
        <form name="mon-formulaire1" action="page-envoi.html" method="get">
        <fieldset>
            <legend>Ajoutez une photo:</legend>
            Titre :<br />
            <input type="text" name="date" value="" />
        <p>
            Date :<br />
            <input type="text" name="date" value="" />
        </p>
            <input type="file" name="nom" />
        <p>
            <input type="submit" value="Envoyer" />
            <input type="reset" value="Annuler" />
        </p>
</form>
    </div>

<div id="footer"> Site officiel de l'USM - 2015 </div>

</body>
</html>